.btn-menu-lateral-pe {
  width: 65px; 
  height: 65px; 
  margin: 0px; 
  top:-210px; 
  right: -30px; 
  background-color: #FF911A; 
  color: #821618; 
  border: none; 
  border-radius: 50%;
}

.btn-menu-lateral-pe i {
  font-size: 25px;
  padding-right: 18px;
}