<div class="row">
  <div class="col-md-6 col-lg-4">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Revisado</p>
          <h2 class="m-b-0">
            <span>{{ porcentagemRevisado }}</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="dollar"
          class="ant-avatar-blue"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Realizado</p>
          <h2 class="m-b-0">
            <span>{{ porcentagemRealizado }}</span>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="bar-chart"
          class="ant-avatar-cyan"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
  <div class="col-md-6 col-lg-4">
    <nz-card>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <p class="m-b-0">Status</p>
          <h2 class="m-b-0">
            <nz-tag class="ml-1" [nzColor]="corStatus">{{
              !!projeto.cronogramaStatusDescricao
                ? projeto.cronogramaStatusDescricao
                : "Não disponível"
            }}</nz-tag>
          </h2>
        </div>
        <nz-avatar
          [nzSize]="50"
          nzIcon="bar-chart"
          class="ant-avatar-cyan"
        ></nz-avatar>
      </div>
    </nz-card>
  </div>
</div>
