
<!-- Filtros Começo -->
<nz-collapse class="mt-2">
<nz-collapse-panel nzHeader="Filtros">
  <form nz-form [formGroup]="filtrosForm">
    <div nz-row nzGutter="24">
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Número do Projeto</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="id" placeholder="Ex.: 235" type="number"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Nome do Projeto</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="projetoNome" placeholder="Ex.: Projeto de Teste"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Data Inícial</nz-form-label>
          <nz-form-control>
            <nz-date-picker nzMode="date" formControlName="dataInicio" nzFormat="dd/MM/yyyy"
              nzPlaceHolder="Ex.: 12/12/2022" class="w-100">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Data Final</nz-form-label>
          <nz-form-control>
            <nz-date-picker nzMode="date" formControlName="dataFim" nzFormat="dd/MM/yyyy" nzPlaceHolder="Ex.: 12/01/2023" class="w-100">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Área</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="departamentoId" nzPlaceHolder="Ex.: SUREH"
              nzShowSearch nzAllowClear (ngModelChange)="carregarProjetos(0, pageSize)">
              <nz-option *ngFor="let d of departamentos" [nzLabel]="d.nome" [nzValue]="d.id"> </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Gerente do Projeto</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="loginGerenteProjeto" nzPlaceHolder="Ex.: José Silva"
            nzAllowClear nzShowSearch nzServerSearch
              (nzOnSearch)="searchGerenteProjeto($event)" (ngModelChange)="carregarProjetos(0, pageSize)">
              <ng-container *ngFor="let g of gerentesProjetoAd">
                <nz-option *ngIf="!buscandoGerenteProjetoAd" [nzValue]="g.login" [nzLabel]="g.nome">
                </nz-option>
              </ng-container>
              <nz-option *ngIf="buscandoGerenteProjetoAd" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon mr-2"></i> Buscando ...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Gerente do Negócio</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="loginGerenteNegocio" nzPlaceHolder="Ex.: Helena Oliveira"
              nzAllowClear nzShowSearch nzServerSearch
              (nzOnSearch)="searchGerenteNegocio($event)" (ngModelChange)="carregarProjetos(0, pageSize)">
              <ng-container *ngFor="let g of gerentesNegocioAd">
                <nz-option *ngIf="!buscandoGerenteNegocioAd" [nzValue]="g.login" [nzLabel]="g.nome">
                </nz-option>
              </ng-container>
              <nz-option *ngIf="buscandoGerenteNegocioAd" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon mr-2"></i> Buscando ...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Sponsor do Projeto</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="loginSponsor" nzPlaceHolder="Ex.: João Oliveira"
              nzAllowClear nzShowSearch nzServerSearch
              (nzOnSearch)="searchSponsorProjeto($event)" (ngModelChange)="carregarProjetos(0, pageSize)">
              <ng-container *ngFor="let s of sponsorsProjetoAd">
                <nz-option *ngIf="!buscandoSponsorProjetoAd" [nzValue]="s.login" [nzLabel]="s.nome">
                </nz-option>
              </ng-container>
              <nz-option *ngIf="buscandoSponsorProjetoAd" nzDisabled nzCustomContent>
                <i nz-icon nzType="loading" class="loading-icon mr-2"></i> Buscando ...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="8">
        <nz-form-item nz-col nzSm="24">
          <nz-form-label>Situação</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="situacao" nzPlaceHolder="Ex.: Aprovado"
              nzAllowClear (ngModelChange)="carregarProjetos(0, pageSize)">
              <nz-option [nzValue]="SituacaoPreProjeto.ProjetoValidado" nzLabel="Aprovado">
              </nz-option>
              <nz-option [nzValue]="SituacaoPreProjeto.ProjetoValidadoRessalvas"
                nzLabel="Aprovado com Ressalvas">
              </nz-option>
              <nz-option [nzValue]="SituacaoPreProjeto.ProjetoReprovado" nzLabel="Reprovado">
              </nz-option>
              <nz-option [nzValue]="SituacaoPreProjeto.ProjetoArquivado" nzLabel="Arquivado">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24">
        <button nz-button nzType="primary" (click)="carregarProjetos(0, pageSize)" [nzLoading]="carregandoProjetos">
          Pesquisar
        </button>
        <button nz-button class="ml-2" (click)="resetForm()" [disabled]="carregandoProjetos">
          Limpar
        </button>
      </div>
    </div>
  </form>
</nz-collapse-panel>
</nz-collapse>
<!-- Filtros Final -->

<!-- Tabela Começo -->
<nz-card>
<!-- <div class="text-right mt-2 mb-2">{{projetos.totalCount}} registro(s) encontrado(s)</div> -->
<nz-table #table [nzData]="preProjetos.items"
  [nzLoading]="carregandoProjetos" [nzTotal]="preProjetos.totalCount" [nzFrontPagination]="false" [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize" (nzQueryParams)="onQueryParamsChange($event)" [nzScroll]="{ x: '800px'}">
  <thead>
    <tr>
      <th nzWidth="50px">Nº</th>
      <th nzWidth="150px">Nome</th>
      <th nzWidth="80px" nzEllipsis>Departamento</th>
      <th nzWidth="80px">Tipo</th>
      <th nzWidth="120px">Situação</th>
      <th nzWidth="170px">Gerentes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of table.data" class="cursor-pointer linha-clicavel" [routerLink]="['../pre-projetos/editar', i.id]">
      <td>{{ i.id }}</td>
      <td nzEllipsis>{{ i.nome }}</td>
      <td nzEllipsis>{{ i.departamentoSigla }}</td>
      <td nzEllipsis>{{ i.tipoDescricao }}</td>
      <td nzEllipsis>{{ situacaoDescricaoProjetoTabela(i) }}</td>
      <td nzEllipsis>
        <nz-tag [nzColor]="'purple'">Projeto</nz-tag> {{ i.nomeGerenteProjeto }} <br />
        <nz-tag [nzColor]="'orange'">Negócio</nz-tag> {{ i.nomeGerenteNegocio }} <br>
        <nz-tag [nzColor]="'green'">Sponsor</nz-tag> {{ i.nomeSponsor }}
      </td>
    </tr>
  </tbody>
</nz-table>
</nz-card>
<!-- Tabela Final -->